@charset "utf-8";
@media screen and (max-width: 768px) {
  /* 主区 */
  .total {
    width: 100%;
  }
  /* 页头 */
  #header {
    width: 100%;
  }
  .head {
    text-align: center;
  }
  .head .logo {
    float: none;
    margin: 0 auto;
  }
  .head .banner {
    display: none;
  }
  .head.head_article {
    display: none;
  }
  /* 菜单 */
  #menu,
  #menu2 {
    width: 100%;
    height: auto;
    background-image: none;
    background-color: #562260;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    text-align: left;
  }
  #menu2 {
    margin-top: 9px;
  }
  #menu ul,
  #menu2 ul {
    width: 100% !important;
    margin: 0 !important;
    float: none !important;
    font-size: 0 !important;
    padding-bottom: 3px !important;
    padding-left: 8px !important;
    box-sizing: border-box;
  }
  #menu ul li,
  #menu2 ul li {
    float: none !important;
    display: inline-block !important;
    width: 25% !important;
    margin: 0 !important;
    padding-bottom: 3px !important;
  }
  #menu ul li a,
  #menu2 ul li a {
    font-size: 13px !important;
  }
  #menu .menu02,
  #menu2 .menu02 {
    display: none;
  }
  #menu .menu04,
  #menu2 .menu04 {
    border-bottom: none !important;
    padding-bottom: 0 !important;
  }
  /* 顶部插件 */
  .top {
    width: 100%;
  }
  .top .titlemap {
    display: none;
  }
  .jiaodian1 {
    display: none;
  }
  /* 正文左边 */
  .main .left {
    float: none;
    width: 100%;
  }
  .new {
    float: none;
    width: 100%;
    margin-left: 0;
  }
  .new .newstop {
    width: 312px;
    height: 52px;
    margin: 0 auto 0 auto;
  }
  /* 正文左边-首页 */
  .jiaodian1 {
    float: none;
  }
  .righttj {
    border: 1px solid #FF99CC;
    float: none;
    width: auto;
    margin: 5px;
    box-sizing: border-box;
  }
  .righttj .list_img {
    text-align: center;
  }
  .righttj .list_img li {
    display: inline-block;
    float: none;
    margin: 0 5px;
  }
  /* 正文左边-栏目 */
  .node {
    float: none;
    width: 100%;
    border: 1px solid #FF99CC;
    box-sizing: border-box;
  }
  .node .title h2 {
    width: auto;
  }
  .node .pic .picsrc {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .node .pic .picinfo {
    text-align: center;
    float: none;
    width: auto;
  }
  .node .pic .picinfo p {
    text-align: left;
  }
  .node .box {
    padding-left: 5px;
  }
  .main {
    padding: 0;
  }
  /* 正文侧边 */
  .main .right {
    float: none;
    width: 100%;
  }
  .main .left2 {
    padding: 0 5px 20px 5px;
    float: none;
    width: 100%;
    box-sizing: border-box;
  }
  .main .left2 .content h1 {
    font-size: 20px;
  }
  .content_01 {
    padding: 10px;
  }
  .content_01 p {
    font-size: 14px;
  }
  .content_01 img {
    max-width: 90%;
  }
  .main .left2 .content .more {
    text-align: center;
    font-size: 0;
  }
  .main .left2 .content .more li {
    float: none;
    display: inline-block;
    margin: 6px;
    text-align: left;
  }
  .main .left2 .content .more li a {
    padding: 5px;
    font-size: 13px;
  }
  .main .left2 .content .xiangguang li {
    width: 100%;
    float: none;
  }
  .travel_right .list002 {
    text-align: center;
    font-size: 0;
    margin: 10px 0 0 0;
  }
  .travel_right .list002 li {
    font-size: 13px;
    float: none;
    display: inline-block;
    width: 140px;
    margin: 7px;
    text-align: left;
  }
  /* 底部 */
  .footer {
    width: 100%;
  }
  .links {
    display: none;
  }
  .sitepath3 {
    line-height: 30px;
    padding-left: 10px;
  }
  /* 新闻list左边 */
  .main .left_list_news {
    float: none;
    width: 100%;
    _width: 100%;
    box-sizing: border-box;
    border-right: none;
  }
  /*-----------------------------------listnew start------------------------------------------*/
  .list_cont {
    margin: 10px 5px 0 5px;
  }
  .list_cont li {
    vertical-align: middle;
  }
  .list_cont .title2 {
    width: 72%;
    padding-left: 5px;
    margin-right: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list_cont .time {
    float: none;
    display: inline-block;
    padding-right: 5px;
  }
  .travel_page {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .travel_right {
    float: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .travel_right .more {
    margin: 0;
    text-align: center;
  }
  .travel_right .more li {
    float: none;
    margin: 10px 5px 0 5px;
    display: inline-block;
  }
  .travel_right .more li p {
    text-align: left;
  }
  .travel_right .list001 li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /* 分页2 */
  .page2 a,
  .page2 span {
    padding: 3px 7px 3px 7px;
  }
  .page2 span {
    display: none;
    padding: 3px 7px 3px 7px;
  }
  .pageline3 {
    margin-bottom: 20px;
  }
  .page2 a:last-child {
    display: none;
  }
  .travel {
    height: auto;
    margin: 10px;
    padding-bottom: 10px;
  }
  .travel img {
    margin-right: 10px;
    width: 130px;
    height: 148px;
  }
  .travel h2 {
    font-size: 14px;
  }
  .travel p {
    font-size: 12px;
    line-height: 140%;
    margin-top: 5px;
  }
  .travel span {
    line-height: 30px;
  }
  .pre_art {
    font-size: 13px;
    margin: 10px;
    width: auto;
  }
}